<h1>Best Restaurants</h1>

@if (@Model["restaurant"].Count == 0)
{
  <h3>No restaurants have been added yet!</h3>
}

<table>
<tr>
  <th><strong>Id</strong></th>
  <th><strong>Name</strong></th>
  <th><strong>Type</strong></th>
  <th><strong>Cuisine</strong></th>
  <th><strong>Price</strong></th>
</tr>

@foreach (var restaurant in  @Model["restaurant"])
{
  <tr>
    <th>@restaurant.GetId()</th>
    <th>@restaurant.GetName()</th>
    <th>@restaurant.GetType()</th>
    <th>
    @foreach (var cuisine in @Model["cuisine"])
    {
      if (@cuisine.GetId() == @restaurant.GetCuisineId())
      {
        @cuisine.GetName();
      }
    }
    </th>

      @if (@restaurant.GetPrice() == 1)
      {
        <th>Cheap</th>
      }
      else if (@restaurant.GetPrice() == 2)
      {
        <th>Moderate</th>
      }
      else if (@restaurant.GetPrice() == 3)
      {
        <th>Expensive</th>
      }

  </tr>
}
</table>

<a href="/cuisine/add">Add Cuisine</a> <br>
<a href="/cuisine/list">View Cuisines</a>
